body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

form {
  display: flex;
  flex-direction: column;
}

